[Unit]
Description=Server
After=network.target
[Service]
Type=simple
User=ubuntu
WorkingDirectory=/home/ubuntu
ExecStart=sudo -E /home/ubuntu/reverse_proxy
EnvironmentFile=/home/ubuntu/env
Restart=on-failure
[Install]
WantedBy=multi-user.target